body {
    background-color: #fafafa;
    color: #545252;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    border-color: #ddd;
}

.img--responsive {
    width: 100%;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.weak {
    color: #777;
}

.container {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.card {
    position: relative;
    border-radius: 6px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.app-header {
    padding: 30px 20px;
}

.profile-img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.sub-header {
    padding-top: 20px;
}

.basic-list {
    list-style: none;
    padding: 20px 0;
}

.basic-list--option {
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    margin: 5px 0;
    padding: 10px 15px;
    width: 100%;
}

.basic-list--option:hover {
    /*transition: background-color 0.5s ease, border-color 0.5s ease;*/
}

.basic-list--option.selected {
    background-color: #f80046;
    color: #fff;
}

.basic-list--option.selected:hover {
    background-color: #D60A43;
    color: #f1f1f1;
    /*transition: background-color 0.5s ease, border-color 0.5s ease;*/
}

.basic-list--option:last-of-type {
    margin-bottom: 0;
}

.basic-list--option:hover {
    background-color: #ddd;
}

.profile-info{
    padding: 0px 20px 5px;
}

.results-info {
    padding: 20px;
}

.profile-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.profile-header__title {
    font-style: italic;
    padding-top: 5px;
}

.profile-info__name,
.profile-info__button {
    height: 35px;
    max-height: 35px;
}

.profile-info__button {
    margin: 10px 0;
}

.profile-info__name {
    text-align: center;
    padding-top: 5px;
    margin: 10px 0 5px;
}

.profile-info__description {
    padding-top: 15px;
}

.bio-info--header {
    margin-bottom: 20px;
}

.bio-info--paragraph {
    padding: 0 20px 20px;
}

.btn {
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.btn:focus {
    outline:0;
}


.bottom-btn  {
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    margin: 0 -1px -1px -1px;
}

.bottom-btn.bottom-primary {
    background-color: #f80046;
    color: #fff;
}

.bottom-btn.bottom-default {
    background-color: #DDD;
    color: #555;
}

.success-image {
    border-radius: 12px;
}

.final-header {
    padding-bottom: 0
}

/* animation */

.card.ng-leave {
  transition:all linear 0.3s;
}

.card.ng-leave {
  transform: translateX(0px) rotate(0deg);
}

.card.ng-leave.ng-leave-active {
  transform: translateX(100%) rotate(60deg);
}
