body {
    background-color: #fafafa;
    color: #545252;
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    border-color: #ddd;
}

.img--responsive {
    width: 100%;
}

.success {
    color: #42940A;
}

.failure {
    color: #DF0000;
}

.weak {
    color: #777;
}

.panel {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-image: url("images/assets/background.jpg");
    transition: opacity 1s ease;
}

.panel__header {
    color: #fff;
    padding-top: 300px;
}

.panel:hover {
    opacity: 0.8;
}

.panel--left {
    left: 0;
    right: 50%;
    border-right: 1px solid crimson;
}

.panel--right {
    right: 0;
    left: 50%;
}

@media screen and (max-width: 479px) {
    .panel {
        position: relative;
        width: 100%;
        height: 200px;
        background-image: none;
    }

    .panel--left {
        left: 0;
        right: 0;
        top: 0;
        bottom: 50%;
        background-color: red;
        border-right: 0;
        background-color: #f80064
        color: #f80064
    }

    .panel--right {
        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
        background-color: #fff;
    }

    .panel--right .panel__header {
        color: #f80046;
    }

    .panel__header {
        padding-top: 80px;
    }
}


.container {
    max-width: 320px;
    position: relative;
    margin: 0 auto;
}

.nav {
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.nav-logo {
    width: 180px;
}

.intro-header {
    position: relative;
    z-index: 1;
    font-size: 110%;
    color: #f80046;
    text-transform: uppercase;
    margin-top: 5px;
}

.text-center {
    text-align: center;
}

.card {
    position: relative;
    top: 0;
    border-radius: 6px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin: -40px auto 40px;
    overflow: hidden;
    z-index: 1;
    max-width: 320px;
}

.block-list:last-child {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.block-list--item {
    padding: 15px 0;
}

.block-list--item:last-of-type {
    padding-bottom: 0;
}

.block-list--item:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}

.app-header {
    padding: 30px 20px;
}

.profile-img-container {
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    height: 270px;
    overflow: hidden;
}

.profile-img {
    border-radius: 6px 6px 0 0;
    min-width: 320px;
}

.basic-list {
    list-style: none;
    /*margin: 10px;*/
}

.btn.basic-list--option {
    cursor: pointer;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    border-radius: 0;
}

.btn.basic-list--option:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}

/*.btn.basic-list--option:first-of-type {
    border-radius: 4px 4px 0px 0px;
}*/

.btn.basic-list--option:last-of-type {
    border-radius: 0px 0px 4px 4px;
}

.btn.basic-list--option:hover {
    background-color: #F6F6F6;
}

.btn.basic-list--option.selected {
    background-color: #EEEDED;
}

.basic-list--option:last-of-type {
    margin-bottom: 0;
}

.basic-list--option:hover {
    background-color: #ddd;
}

.results-info {
    padding: 20px;
}

.profile-name {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
}

.sub-header {
    display: inline-block;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 20px;
}

.shake.ng-hide-remove {
    -webkit-animation: shake 1s;
    -moz-animation: shake 1s;
    -ms-animation: shake 1s;
    animation: shake 1s;
}

.bounce.ng-hide-remove {
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -ms-animation: bounce 1s;
    animation: bounce 1s;
}

.flip-in.ng-hide-remove {
    -webkit-animation: flipInX 1s;
    -moz-animation: flipInX 1s;
    -ms-animation: flipInX 1s;
    animation: flipInX 1s;
}

.pulse.ng-hide-remove {
    -webkit-animation: pulse 1s;
    -moz-animation: pulse 1s;
    -ms-animation: pulse 1s;
    animation: pulse 1s;
}

.test.ng-hide-remove {
    -webkit-animation: slideInUp 1s;
    -moz-animation: slideInUp 1s;
    -ms-animation: slideInUp 1s;
    animation: slideInUp 1s;
}


.profile-header {
    padding: 15px 10px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin-left: -1px;
    margin-right: -1px;
    border-top: none;
}

.profile-header__title {
    font-style: italic;
}

.profile-header__title.success,
.profile-header__title.failure {
    font-style: inherit;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 8px;
}

.profile-info__name,
.profile-info__button {
    height: 35px;
    max-height: 35px;
}

.profile-info__button {
    margin: 10px 0;
}

.profile-info__name {
    text-align: center;
    padding-top: 5px;
    margin: 10px 0 5px;
}

.bio-info--paragraph {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.btn {
    font-size: 14px;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 12px;
}

.btn--small {
    padding: 6px 10px;
}

.btn:focus {
    outline:0;
}

.btn--default {
    background-color: #DDD;
    color: #555;
}

.bottom-btn  {
    width: 100%;
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    margin: 0 -1px -1px -1px;
}

.bottom-btn.bottom-primary {
    background-color: #f80046;
    color: #fff;
}

.bio-btn {
    margin: 10px 0 5px;
    display: block;
    border-radius: 20px;
}

.success-image {
    border-radius: 12px;
}

.final-header {
    padding-bottom: 0
}

.results-info__hr {
    margin: 15px 0;
}

.wrong-names__profile-img {
    border-radius: 6px;
}

.wrong-names__name {
    padding-top: 15px;
}

/* animation */

.card.ng-leave {
  transition:all linear 0.3s;
}

.card.ng-leave {
  transform: translateX(0px) rotate(0deg);
}

.card.ng-leave.ng-leave-active {
  transform: translateX(100%) rotate(60deg);
}
